body{
    font-family: 'Quicksand', sans-serif;
    margin: 0%;
    padding: 0%;
}

nav {
    position: relative;
}
ul li {
    margin-left: 14px;
    position: relative;
}
.changeborder{
    border:none;
    
}
.inputStyle{
    padding:8px 10px;
    border-radius:45px;
}



@media  screen and  (max-width:1200px){
.deg p {
    font-size: 12px;
    font-weight: 600;
}
}
@media  screen and  (max-width:991px){
h3{
    font-size: 16px;
    font-weight: 600;
}

.headerdet h6{
        font-size: 12px;
    }
    .deg p {
        font-size: 10px;
        font-weight: 600;
    }
    .details{
        font-size: 12px;
        font-weight: 500;
    }
    .bodyStyle p{
font-size: 10px;
font-weight: 600;
    }
    }
    
    @media screen and (max-width:870px){
        .inputfield input{
            left: '40px'
        }
    }
    
    @media  screen and (max-width:768px){
        .headercol{
             justify-content: flex-end;
        }
        .headercol3{
            margin: 0%;
            padding: 0%;
        }
        .deg p{
            font-size: 8px;
            font-weight: 800;
        }
        .bodyStyle p{
            font-size: 7px;
            font-weight: 800;
                }
                .inputfield input{
                    left: '30px';
                    font-size: x-small;
                }
    }
    @media  screen and (max-width:638px){
        .headercol{
             justify-content: flex-start;
        }
        .headercol3{
            margin: 5%;
            
        }
        .headercol2{
            margin-left: 151px;
    margin-top: 16px;
            
        }
        .deg p{
            font-size: 8px;
            font-weight: 800;
        }
    }
    @media  screen and (max-width:578px){
.inputfield input{
    font-size: xx-small;
    margin-right: 12px;
}
    }

    .center{
         
            position: absolute;
            right: 0px;
            width: 300px;
            border: 3px solid #73AD21;
            padding: 10px;
            top:50%;
          
    }